<?xml version='1.0' encoding='UTF-8'?>
<!--
  #%L
  SAP HANA Cloud Platform Samples - Cloud Jenkins
  %%
  Copyright (C) 2013 SAP AG
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
  -->
<project>
  <actions/>
  <description>Make git available on this machine. This job is triggered on Jenkins startup.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <org.jvnet.hudson.plugins.triggers.startup.HudsonStartupTrigger plugin="startup-trigger-plugin@2.4">
      <spec></spec>
      <label>master</label>
      <quietPeriod>0</quietPeriod>
    </org.jvnet.hudson.plugins.triggers.startup.HudsonStartupTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># install git (and dependencies) to $HOME/git
wget http://curl.haxx.se/download/curl-7.30.0.tar.gz -O curl.tgz
tar xvf curl.tgz
cd curl-7.30.0
./configure --prefix=$HOME/git
make all install
cd ..

wget http://sourceforge.net/projects/expat/files/expat/2.0.1/expat-2.0.1.tar.gz/download -O expat.tgz
tar xvf expat.tgz
cd expat-2.0.1
./configure --prefix=$HOME/git
make all install
cd ..

wget https://github.com/git/git/archive/v1.8.2.1.tar.gz -O git.tar.gz
tar xvf git.tar.gz
cd git-1.8.2.1
C_INCLUDE_PATH=$HOME/git/include LIBRARY_PATH=$HOME/git/lib make prefix=$HOME/git all install
cd ..

# save space by deleting the workspace
rm -rf *
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>